# Dependency Directories
**/node_modules/
**/vendor/

# Environments
**/.env
**/.env.*

# Local/IDE Configs
.idea/
.vscode/

# Build Artifacts
**/dist/
**/build/
*.apk
**/*.apk
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db

# Laravel Database & Logs
**/database/database.sqlite
**/storage/logs/*.log
**/storage/framework/views/*.php
**/storage/framework/cache/data/*
**/storage/framework/sessions/*
job_log.txt
jobs*.json
runs*.json
